/* 
    100 : Thin
    200 : Extra Light (Ultra Light)
    300 : Light
    400 : Regular
    500 : Medium
    600 : Semi Bold (Demi Bold)
    700 : Bold
    800 : Extra Bold (Ultra Bold)
    900 : Black (Heavy)
*/

@font-face {
    font-family: NanumGothic;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NanumGothic-400.woff") format("woff");
}

@font-face {
    font-family: NanumGothic;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NanumGothic-700.woff") format("woff");
}

@font-face {
    font-family: NanumSquare;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NanumSquare-400.woff") format("woff");
}

@font-face {
    font-family: NanumSquare;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NanumSquare-700.woff") format("woff");
}
