@import "variable.scss";

/* hello style */
._hello {opacity: 0; transition: all 500ms;
    &._visible {opacity: 1;}
    &._left {transform: translateX(-50px);
        &._visible {transform: translateX(0);}
    }
    &._right {transform: translateX(50px);
        &._visible {transform: translateX(0);}
    }
}

/* button style */
._btn {display: flex; width: 100%; border: none; border-radius: 0; align-items: center; justify-content: center; -webkit-appearance: none; cursor: pointer;
    &.h40 {height: 40px; font-size: 17px;}
    &.c1 {border: 1px solid #000000; background: #000000; color: #ffffff;}
    &.c2 {border: 1px solid #333333; background: #333333; color: #ffffff;}
}


/* checkbox style */
$checkboxSize: 16px;
label._checkbox {display: flex; position: relative; padding: 0 0 0 24px;
    > ._txt {
        &:before {display: block; content: ''; position: absolute; top: 1ex; left: 0; width: $checkboxSize; height: $checkboxSize; margin-top: -($checkboxSize / 2); background: url(../images/common/checkbox.png) 0 0 no-repeat;}
    }
    input {position: absolute; top: 5px; left: 0; width: 1px; height: 1px; opacity: 0; cursor: pointer;
        &:checked + ._txt:before {background-position-y: -16px;}
        &:focus + ._txt:before {outline: 1px dotted #000000;}
    }
}

/* radio style */
$radioSize: 16px;
label._radio {display: flex; position: relative; padding: 0 0 0 24px;
    > ._txt {
        &:before {display: block; content: ''; position: absolute; top: 1ex; left: 0; width: $radioSize; height: $radioSize; margin-top: -($radioSize / 2); background: url(../images/common/radio.png) 0 0 no-repeat;}
    }
    input {position: absolute; top: 5px; left: 0; width: 1px; height: 1px; opacity: 0; cursor: pointer;
        &:checked + ._txt:before {background-position-y: -16px;}
        &:focus + ._txt:before {outline: 1px dotted #000000;}
    }
}

/* sunrise style */
.sunrise-wrapper {
    .sunrise-back {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7);}
    .sunrise-outer {position: absolute; z-index: 1000; opacity: 0; transform: translateY(50px); transition: opacity 500ms, transform 500ms;
        &._visible {opacity: 1; transform: translateY(0);}
        .sunrise-inner {background: #ffffff;}
        .sunrise-close {position: absolute;}
    }
}

/* kronos style */
.kronos-outer {display: inline-block; position: relative;
    .kronos-input {box-sizing: border-box; height: 30px; padding: 5px 10px; border: 1px solid #cccccc;
        &:focus, &:hover {border-color: #666666;}
    }
    &.open .kronos-viewer {top: auto; left: auto; z-index: 10;}
    &.visible .kronos-viewer {position: relative; top: auto; left: auto;}
    .kronos-viewer {overflow: hidden; position: absolute; top: -9999em; left: -9999em; width: 300px; background: #ffffff; box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); transition: height .3s;
        .kronos-animate {position: relative;}
        .kronos-inner {position: absolute; width: 100%; vertical-align: top;}
        .kronos-trigger {width: 30px; height: 30px; border: none; background: url(../images/kronos/ico-calendar.gif) center center no-repeat; text-indent: -9999em; vertical-align: top; cursor: pointer;}
        .kronos-head {overflow: hidden; position: relative; padding: 12px;
            .kronos-title {text-align: center; line-height: 24px;}
            .kronos-title-year {display: inline-block;}
            .kronos-title-month {display: inline-block; margin: 0 0 0 5px;}
            select {height: 24px; padding: 0 5px; border: 1px solid #cccccc; border-radius: 3px; background-position: right 5px center;
                &:focus {border-color: #666666;}
            }
            .kronos-select-year {width: 80px; margin: 0 5px 0 0;}
            .kronos-select-month {width: 50px; margin: 0 5px;}
            button {position: absolute; top: 12px; width: 24px; height: 24px; border: none; border-radius: 3px; text-indent: -9999em; cursor: pointer;
                &:focus, &:hover {border: 1px solid #dddddd;}
            }
            .kronos-prev-month {left: 36px; background: url(../images/kronos/prev-month.png) center center no-repeat;}
            .kronos-next-month {right: 36px; background: url(../images/kronos/next-month.png) center center no-repeat;}
            .kronos-prev-year {left: 12px; background: url(../images/kronos/prev-year.png) center center no-repeat;}
            .kronos-next-year {right: 12px; background: url(../images/kronos/next-year.png) center center no-repeat;}
            ._krkronosonos-today {position: relative; top: auto; width: auto; height: auto; font-size: 12px; text-indent: 0;}
        }
        .kronos-inner .kronos-body table {width: 100%; border-spacing: 0; table-layout: fixed;
            thead tr th {height: 30px; font-size: 13px;}
            tbody tr td {border: 1px solid #ffffff;
                button {display: block; box-sizing: border-box; width: 100%; height: 40px; border: 1px solid #f7f7f7; border-radius: 5px; background: #f7f7f7; font-size: 12px; color: #000000; vertical-align: middle; text-align: center; cursor: pointer;}
                    &.sunday button {color: #ff0000;}
                    &.satday button {color: #0000ff;}
                    &.holiday button {color: #ff0000;}
                    &.period button {border-color: #6f7abf; background: #6f7abf; color: #ffffff;}
                    &.selected button {border-color: #323e87; background: #323e87; color: #ffffff;}
                    &.disabled button {border-color: #f7f7f7 !important; background: #cccccc; color: #eeeeee !important; cursor: default;}
                    &.today button {background: #000000; color: #ffffff;}
                    button {
                        &:focus, &:hover {border-color: #000000 !important;
                    }
                }
            }
        }
    }
}

/* slick slider */
.slick-slider {position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; user-select: none; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-list {position: relative; overflow: hidden; display: block; margin: 0; padding: 0;
    &:focus {outline: none;}
    &.dragging {cursor: pointer; cursor: hand;}
}
.slick-slider .slick-track,
.slick-slider .slick-list {transform: translate3d(0, 0, 0);}
.slick-track {position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto;
    &:before,
    &:after {content: ''; display: table;}
    &:after {clear: both;}
    .slick-loading & {visibility: hidden;}
}
.slick-slide {display: none; float: left; height: 100%; min-height: 1px;
    [dir="rtl"] & {float: right;}
    img {display: block;}
    &.slick-loading img {display: none;}
    &.dragging img {pointer-events: none;}
    .slick-initialized & {display: block;}
    .slick-loading & {visibility: hidden;}
    .slick-vertical & {display: block; height: auto; border: 1px solid transparent;}
}
.slick-arrow.slick-hidden {display: none;}