@mixin selection {
    ::-moz-selection {@content}
    ::selection      {@content}
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

@mixin inputTypeText {
    input[type=date],
    input[type=datetime-local],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    textarea,
    select {@content}
}

@mixin inputTypeButton {
    button,
    input[type=file],
    input[type=image],
    input[type=reset],
    input[type=button],
    input[type=submit] {@content}
}

@mixin ellipsis {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

@mixin ellipsis2 ($line-height) {
    display: -webkit-box;
    overflow: hidden;
    height: ($line-height * 2px);
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}